.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.hero-content {
  text-align: center;
  max-width: 700px;
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* 🔥 Glow circles */
.hero::before,
.hero::after {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  background: var(--primary);
  filter: blur(150px);
  opacity: 0.4;
  z-index: 0;
}

.hero::before {
  top: -100px;
  left: -100px;
}

.hero::after {
  bottom: -100px;
  right: -100px;
}

/* Keep content above glow */
.hero-content {
  position: relative;
  z-index: 1;
}

.hero h1 {
  font-size: 3rem;
}

.hero span {
  color: var(--primary);
}

.hero h2 {
  margin-top: 10px;
  color: var(--secondary);
}

.hero p {
  margin-top: 20px;
  color: var(--muted);
}

.hero-buttons {
  margin-top: 30px;
}

.btn-primary {
  background: var(--primary);
  padding: 12px 24px;
  border-radius: 8px;
  color: white;
  margin-right: 10px;
  transition: 0.3s;
}

.btn-primary:hover {
  background: #5848d6;
}

.btn-secondary {
  border: 1px solid var(--primary);
  padding: 12px 24px;
  border-radius: 8px;
  transition: 0.3s;
}

.btn-secondary:hover {
  background: var(--primary);
  color: white;
}
